@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Google%20Sans");

body {
    font-family: 'Inter', serif;
}

.topbar {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
}

.main {
    position: fixed;
    left: 0%;
    top: 8%;
    height: calc(100% - 8%);
    width: 100%;
    background-color: rgb(23, 24, 31);
}

#topbarIco {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    left: 1%;
    font-size: 24px;
    font-family: 'Google Sans', serif;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.middle {
    vertical-align: middle;
}

.bottom {
    vertical-align: bottom;
}

#githubBtnTop {
    position: absolute;
    transform: translate(0%, -50%);
    top: 50%;
    right: 1%;
    background-color: transparent;
    border: none; 
    color: lightgray;
    font-family: 'Inter', serif;
    cursor: pointer;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 1.5px;
    font-size: 16px;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    text-align: center;
}

#title h1 {
    color: white;
    font-weight: 900 !important;
    font-size: 48px;
    font-family: 'Google Sans', serif;
}

#downloadBtn {
    width: 250px;
    height: 50px;
    color: white;
    font-family: 'Google Sans', serif;
    cursor: pointer;
    background-color: rgb(28, 95, 8);
    border: none;
    border-radius: 2px;
    padding: 6px;
}

#downloadBtn span {
    font-size: 15px;
    margin-left: 15px;
}

#downloadAmt {
    font-weight: 600;
    color: white;
}

#downloadLabel {
    font-weight: 600;
    color: gray;
}

#downloads {
    font-size: 13px;
    margin-top: 35px;
}

#topbarDownload {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    padding: 5px;
    border-radius: 1px;
    color: white;
}

p {
    font-family: 'Google Sans', sans-serif;
}